{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    {% if listing_on_watchlist %}
        <a class="btn btn-secondary btn-sm" href="{% url 'remove_from_watchlist' listing.id %}">Remove from Watchlist</a>
    {% else %}
        <a class="btn btn-primary btn-sm" href="{% url 'add_to_watchlist' listing.id %}">Add to Watchlist</a>
    {% endif %}
    
    <br>
    <br>
    {% if listing.image_url %}
        <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
    {% endif %}
    <br>
    {{ listing.description }}
    <br>
    <h3>${{ high_bid }}</h3>
    <br>
    {% load crispy_forms_tags %}
    {% if bid_form %}
        {% crispy bid_form %}
    {% endif %}
    {% comment %} {% else %}
        {% if high_bid_user %}
            {% if listing.closed %}
                <p>Winning user: {{ high_bid_user }}
            {% else %}
                <p>User with current highest bid: {{ high_bid_user }}</p>
            {% endif %}
        {% else %}
            {% comment %} <p>No bids entered</p> {% endcomment %}
        {% comment %} {% endif %} {% endcomment %}
    {% if close_listing_form %}
        {% crispy close_listing_form %}
    {% endif %}
    {% if bid_message %}
        <p>{{ bid_message }}</p>
    {% endif %}
    <hr> 
    <h3>Details</h3>
    <ul>
        <li>Listed by: {{ listing.user.username }}</li>
        <li>Category: {{ listing.category.title }}</li>
        <li>Listed on: {{ listing.created_at }}</li>
    </ul>
    {% if listing_comments or comment_form %}
        <hr>
        <h3>Comments</h3>
    {% endif %}
    {% for comment in listing_comments %}
        <p>{{ comment.body }}<br><i>By {{ comment.user.username }} on {{ comment.created_at }}</i></p>
    {% endfor %}
    <br>
    {% if comment_form %}
        {% crispy comment_form %}
    {% endif %}
{% endblock %}